<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bootstrap Resume</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <!--<link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->

    <!-- Plugin CSS -->
    <!--<link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">-->

    <!-- Theme CSS -->
    <!--<link href="css/creative.min.css" rel="stylesheet">-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Tommaso Scotti</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#experience">Experience</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#skills">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Thomas Scott</h1>
                <hr>
                <p>A bootstrapped visual resume</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">WHO'S THAT?</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Got what you need?</h2>
                    <hr class="light">
                    <p class="text-faded">PhD graduate in applied mathematics, I am now working in financial technology on the development
                                        of web applications. Thanks to long and diversified experiences abroad, I have become able to interact
                                        naturally in different languages and to manage heterogeneous groups of people. In particular, I am
                                        proficient in Italian, English, and Japanese.</p>
                    <a href="#experience" class="page-scroll btn btn-default btn-xl sr-button">TELL ME MORE</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="no-padding" id="experience">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-6 col-sm-6">
                    <a href="http://www.sbibits.com" class="portfolio-box" target= '_blank'>
                        <%= image_tag("logobits.png", alt: "", :class  => "img-responsive ")  %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    A Fast Growing Fintech Company
                                </div>
                            </div>
                        </div>
                    </a>
                    <div style="padding-left:25px;">
                        <i class="fa fa-2x fa-laptop text-primary sr-icons"> <h3 style="display:inline-block;">Jr Developer</h3></i>
                        <p class="text-muted">October 2015 to Present</p>
                        <ul class="fa-ul" style="display: inline-block; text-align:left;">
                            <li><i class="fa fa-li fa-laptop sr-icons" aria-hidden="true"></i> Accelerated from zero-experience to develivering views of web applications using a Java Spring MVC framework in 4 months.</li>
                            <li><i class="fa fa-li fa-bug sr-icons" aria-hidden="true"></i> As the official bug hunters leader, I have taken care of the testing phase by writing test cases in order to find bugs.</li>
                            <li><i class="fa fa-li fa-flag sr-icons" aria-hidden="true"></i>  Found bugs so tricky that my colleagues labeled them “Italian tricks”. </li>
                            <li><i class="fa fa-li fa-group sr-icons" aria-hidden="true"></i> Volunteered  to organize Japanese classes to improve my team's as well as my own language skills. I have been running this class steadily twice a week since 2015/12.</li>
                        </ul>
                        <i class="fa fa-2x fa-book text-primary sr-icons"> <h3 style="display:inline-block;">Publications</h3></i>
                        <ol tyoe="1">
                            <li>Scotti T., Mimura M., Wakano J.Y.: <%= link_to "Avoiding toxic prey may promote harmful algal blooms", "http://www.sciencedirect.com/science/article/pii/S1476945X14000877",  :target => "_blank" %> Ecological Complexity, Vol. 21, pp. 157-165, 2015. </li>
                            <li>Ikeda H., Scotti T., Mimura M.: <%= link_to "Shadow system approach to a plankton model generating harmful algal bloom", "https://aimsciences.org/journals/displayArticlesnew.jsp?paperID=13387",  :target => "_blank" %> Discrete & Continuous Dynamical Systems Vol. 37 No. 2.</li>
                        </ol>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <a href="http://www.meiji.ac.jp/cip/english/" class="portfolio-box" target= '_blank'>
                        <%= image_tag("logogmeiji.png", alt: "", :class  => "img-responsive") %>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                     A Leader in Higher Education
                                </div>
                                <div class="project-name">

                                </div>
                            </div>
                        </div>
                    </a>
                    <div style="padding-left:25px;">
                        <i class="fa fa-2x fa-graduation-cap text-primary sr-icons"> <h3 style="display:inline-block;">Researcher - 研究員</h3></i>
                        <p class="text-muted">April 2015 to March 2016</p>
                        <ul class="fa-ul" style="display: inline-block; text-align:left;">
                            <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Continuing my PhD research on the application of mathematical models to the study of natural phenomena.</li>
                            <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Co-authored a paper analyzing the properties of the system proposed in [1] under a purely mathematical point of view:</li>
                        </ul>
                        <i class="fa fa-2x fa-graduation-cap text-primary sr-icons"> <h3 style="display:inline-block;">Research Promoter - 研究推進員</h3></i>
                         <p class="text-muted">April 2012 to March 2015</p>
                        <ul class="fa-ul" style="display: inline-block; text-align:left;">
                            <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i>Deepened the knowledge of the analytical and numerical techniques used to study systems of differential equations. Focused on the application of deterministic models to: population dynamics, self-organization, spread of diseases, and so on.</li>
                            <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Spoke at several international conferences (full list below) both in Japan and abroad</li>
                            <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> Published original results on peer-reviewed international scientific journals </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">At Your Service</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="col-lg-3 col-md-6 text-center">
                <!--<div class=>-->
                    <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
                    <h3>Skills</h3>
                    <p class="text-muted"></p>
                    <ul class="fa-ul" style="display: inline-block; text-align:left;">
                        <li><i class="fa fa-li fa-desktop sr-icons" aria-hidden="true"></i> <p> OS: <i class="fa fa-windows" aria-hidden="true"></i> <i class="fa fa-apple" aria-hidden="true"></i> <i class="fa fa-linux" aria-hidden="true"></i> (basic) </p></li>
                        <li><i class="fa fa-li fa-cog fa-spin sr-icons" aria-hidden="true"></i><p> Experience with Java Spring MVC </p></li>
                        <li><i class="fa fa-li fa-chrome sr-icons" aria-hidden="true"></i> <p> Web: <i class="fa fa-html5" aria-hidden="true"></i> <i class="fa fa-css3" aria-hidden="true"></i>...bootstrap!</p></li>
                        <li><i class="fa fa-li fa-database sr-icons" aria-hidden="true"></i>  <p>Some experience with PostgreSQL</p></li>
                        <li><i class="fa fa-li fa-pulse fa-spinner sr-icons" aria-hidden="true"></i> <p>Python, C#, Ruby on Rails </p> </li>
                        <li><i class="fa fa-li fa-language sr-icons" aria-hidden="true"></i> <p> Italian (native) <br> English (fluent) <br> Japanese (Advanced) <br> Chinese (Conversational) </p> </li>
                    </ul>
                <!--</div>-->
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div>
                    <i class="fa fa-4x fa-graduation-cap text-primary sr-icons"></i>
                    <h3>Education</h3>
                    <p class="text-muted"></p>
                    <ul class="fa-ul" style="display: inline-block; text-align:left;">
                        <li><i class="fa fa-li fa-university sr-icons" aria-hidden="true"></i> <p>Bachelor’s in Mathematics <br> Sapienza University - 2007</p></li>
                        <li><i class="fa fa-li fa-certificate sr-icons" aria-hidden="true"></i> <p>Master’s in Mathematics <br> Sapienza University - 2007</p></li>
                        <li><i class="fa fa-li fa-graduation-cap sr-icons" aria-hidden="true"></i> <p>Ph.D. in Applied Mathematics <br> Meiji University - 2015</p></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <!--<div class="service-box">-->
                    <i class="fa fa-4x fa-trophy text-primary sr-icons"></i>
                    <h3>Achievements</h3>
                    <p class="text-muted"></p>
                    <ul class="fa-ul" style="display: inline-block; text-align:left;">
                        <li><i class="fa fa-li fa-language" aria-hidden="true"></i> <p>Language Certifications: <br>English: TOEFL 111/120 <br> Japanese: JLPT N2</p></li>
                        <li><i class="fa fa-li fa-usd sr-icons" aria-hidden="true"></i> <p> Scholarships: <br> ERASMUS 2008 <br> MEXT 2011 <br> GCOE 2012</p></li>
                        <li><i class="fa fa-li fa-trophy sr-icons" aria-hidden="true"></i><p> Best poster award at ICMMA13 <br> Meiji University 2013</p></li>
                    </ul>
                <!--</div>-->
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <!--<div class="service-box">-->
                    <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
                    <h3>Passion</h3>
                    <p class="text-muted"></p>
                    <ul class="fa-ul"  style="display: inline-block; text-align:left;">
                        <li><i class="fa fa-li fa-music" aria-hidden="true"></i><p>I love music in general and I have <br> been studying piano for more than 10 years.</p></li>
                        <li><i class="fa fa-li fa-hand-rock-o" aria-hidden="true"></i><p>I have been practicing martial arts since 1999.</p></li>
                        <li><i class="fa fa-li fa-book" aria-hidden="true"></i><p>Big fan of the <%= link_to "edX", "https://www.edx.org/",  :target => "_blank" %> platform. </p></li> 
                        <li><i class="fa fa-li fa-stack-exchange" aria-hidden="true"></i><p> Do my best to contribute on <%= link_to "stack exchange", "http://stackexchange.com/",  :target => "_blank" %>, especially for the Japanese language.</p></li>
                        <li><i class="fa fa-li fa-paint-brush" aria-hidden="true"></i><p>Enthusiast about calligraphy,
                            snowboard <i class="fa fa-snowflake-o" aria-hidden="true"></i>,
                            and traveling. <i class="fa fa-paper-plane" aria-hidden="true"></i></p></li>
                    </ul>
                <!--</div>-->
            </div>
        </div>
    </section>

    

    <!--<aside class="bg-dark">-->
    <!--    <div class="container text-center">-->
    <!--        <div class="call-to-action">-->
    <!--            <h2>Want a (Lame) PDF of my Resume?</h2>-->
    <!--            <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">Download Now!</a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</aside>-->
    

    <!--<section id="contact">-->
    <!--    <div class="container">-->
    <!--        <div class="row">-->
    <!--            <div class="col-lg-8 col-lg-offset-2 text-center">-->
    <!--                <h2 class="section-heading">Let's Get In Touch!</h2>-->
    <!--                <hr class="primary">-->
    <!--                <p>Liked what you've seen? Awesome! Give me a call or send me an email!</p>-->
    <!--            </div>-->
                <!--<div class="col-lg-4 col-lg-offset-2 text-center">-->
                <!--    <i class="fa fa-phone fa-3x sr-contact"></i>-->
                <!--    <p>123-456-6789</p>-->
                <!--</div>-->
                <!--<div class="col-lg-4 text-center">-->
                <!--    <i class="fa fa-envelope-o fa-3x sr-contact"></i>-->
                <!--    <p><a href="mailto:your-email@your-domain.com">email@myemail.com</a></p>-->
                <!--</div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</section>-->

    <!-- jQuery -->
    <!--<script src="jquery/jquery.min.js"></script>-->
    <%= javascript_include_tag "jquery.min.js" %>
    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.min.js" %>
    <!--<script src="vendor/bootstrap/js/bootstrap.min.js"></script>-->

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <%= javascript_include_tag "scrollreveal.min.js" %>
    
    
    <!--<script src="vendor/scrollreveal/scrollreveal.min.js"></script>-->
    <!--< %= javascript_include_tag "jquery.magnific-popup.min.js" %>-->
    <!--<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>-->

    <!-- Theme JavaScript -->
    <!--<script src="js/creative.min.js"></script>-->
    <%= javascript_include_tag "creative.min.js" %>

</body>

</html>